body {
  background: url("../img/wood.jpg") no-repeat;
  background-size: cover;
}
nav, .page-footer {
  background-color: RGBA(0, 150, 130, 1.00);
}

.page-footer {
  bottom: 0;
  position: absolute;
  font-size: 0.7em;
  width: 100%;
  padding-top: 1em;
}
.grey-text.text-lighten-4 {

}
